apiVersion: v1
kind: Namespace
metadata:
  name: scaler

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: scale-app
  namespace: scaler
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: scale-app
        image: ubuntu:latest
        command:
          - sleep
          - "3600"
        resources:
          limits:
            memory: "300Mi"
            cpu: "500m"
        ports:
        - containerPort: 80

---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: scale-app-hpa
  namespace: scaler
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: scale-app
  minReplicas: 1
  maxReplicas: 4
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50
